.background {
    background-image: url('https://www.shutterstock.com/image-photo/green-field-blue-sky-light-260nw-1725649795.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    color: white;
}
.loginas{
    border:1px solid gray;
    width: 400px;
    margin: auto;
    /* margin-top: 20%; */
    padding: 20px;
    text-align: center;
    position: relative;
    top: 15%;
    /* right: 400px; */
    background: rgba(0,0,0,0.5);
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;

}
h4{
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 5px;

}
